/* 
    This is the whole CSS for the "operating sistem" 

    version 1.0
*/

/* 
    V A R I A B L E S 
*/
:root{
    --fontsize: 0px ;

    --text-color: black;

    --bakground-color: #008080;
    --selection-color: #000080;
    --body-color: #c3c3c3;
    --secbody-color: #a0a0a0;
    --terbody-color: #808080;

    --notes-color: #fcfc00;
}

/*
    I N I T I A L   C O N F I G
*/
*{
    image-rendering: pixelated;

    font-family: F95;
    font-smooth: none;

    font-size: calc(14px - var(--fontsize));
}

html{
    margin: 0;
    padding: 0;

    scrollbar-width: 20px;
}

::-webkit-scrollbar {
    color: var(--selection-color);
    width: 20px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--body-color);
  padding: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {

    background: var(--secbody-color);
    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    outline: var(--body-color) 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: var(--terbody-color);
    border-style: solid;
    border-color: black white white black;
    border-width: 2px;
    outline: var(--body-color) 2px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement{
    background-image: url("./icons/System/button-arrow-up.svg");
    background-size: cover;
    background-color: var(--body-color);
    height: 20px;

    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    outline: var(--body-color) 2px;
}

::-webkit-scrollbar-button:single-button:vertical:increment{
    background-image: url("./icons/System/button-arrow-down.svg");
    background-size: cover;
    background-color: var(--body-color);
    height: 20px;

    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    outline: var(--body-color) 2px;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement{
    background-image: url("./icons/System/button-arrow-left.svg");
    background-size: cover;
    background-color: var(--body-color);
    width: 20px;

    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    outline: var(--body-color) 2px;
}
::-webkit-scrollbar-button:single-button:horizontal:increment{
    background-image: url("./icons/System/button-arrow-right.svg");
    background-size: cover;
    background-color: var(--body-color);
    width: 20px;

    border-style: solid;
    border-color: white black black white;
    border-width: 2px;
    outline: var(--body-color) 2px;
}

::selection{
    background: var(--selection-color);
    color: white;
    text-shadow: none;
}
::-moz-selection{
    background: var(--selection-color);
    color: white;
    text-shadow: none;
}



/*
    S T A R T   M E N U 
*/

/* BAR ANIMATION */
@keyframes moving{
    0%{
        background-position: 0% 0%;
    }
    
    50%{
        background-position: 50% 50%;
    }

    100%{
        background-position: 100% 100%;
    }
}

.Startmenu{
    margin: 0;
    padding: 0;

    background: url(./images/Win95bootsm.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-position: start center;

    align-items: center;
    justify-content: center;
}

.loading-bar{
    position: absolute;
    display: flex;
    margin-top: auto;

    align-items: center;
    justify-content: center;

    width: 100%;
    height: 40px;

    background: linear-gradient(90deg,rgba(6, 139, 191, 1) 0%, rgba(171, 171, 171, 1) 15%, rgba(171, 171, 171, 1) 35%, rgba(6, 139, 191, 1) 50%, rgba(171, 171, 171, 1) 65%, rgba(171, 171, 171, 1) 85%, rgba(6, 139, 191, 1) 100%);
    background-size: 200% 200%;
    animation-name: moving;
    animation-duration: 3s;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    bottom: 0;
}



/* 
    S Y S T E M   F O N T S
*/

/* DEFAULT BASIC TEXT FONT */
@font-face {
    font-family: F95;
    src: url(./Fonts/MSSansSerif8pt.ttf);
}

/* DEFAULT TITLES TEXT FONT */
@font-face {
    font-family: TimesNew95;
    src: url(./Fonts/pixelated-times-new-roman.otf);
}

/* DEFAULT TRMINAL TEXT FONT */
@font-face {
    font-family: Marlet;
    src: url(./Fonts/Marlet.ttf);
}



/*
    B A S I C   C S S   S T Y L E
*/

h1{
    font-family: TimesNew95;
    font-weight: 100;
    font-size: calc(60px - var(--fontsize));

    line-height: 0px;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0;
    padding: 0;

    overflow: hidden;
}

button, select{
    

    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    box-shadow: -1px -1px var(--terbody-color) inset;

    min-width: 20px;
    min-height: 20px;
}



/* 
    D E S K T O P 
*/

.Desktop{
    width: 100%;
    height: 100vh;

    font-family: F95;
    font-smooth: none;

    background: var(--bakground-color);
    background-repeat: repeat;
    background-size: 500px;
    background-clip: content-box;
    color: white;
    -webkit-user-drag: none;
}

.Desktop img{
    -webkit-user-drag: none;
}

.overlay{
    height: 100%;
    padding: 4px;
}

.desktop_button{
    display: block;

    width: 90px;
    height: 80px;

    padding: 0;
    margin: 0;

    border: none;

    background-color: transparent;

    color: white;
    font-weight: 100;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.desktop_button:hover p, .desktop_button:hover .appicon{
    background: var(--selection-color);
}

.desktop_button p{
    text-wrap: wrap;
    word-wrap: break-word;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    margin: 0;
}

.appicon{
    width: 40px;
}

.appdecor{
    position: absolute;

    transform: translate(-40px, 8px);
}



/*
    B U T T O N S
*/
button{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    
    background-color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    box-shadow: -1px -1px var(--terbody-color) inset;
}

button:active{
    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color); 
    box-shadow: none;
}
button:focus {
    outline: 2px dotted black;
    outline-offset: -6px;
    box-shadow: -1px -1px var(--terbody-color) inset, 0px 0px 0px 2px black;
}

.button_noborder{
    border: none;
    box-shadow: none;
}
.button_noborder:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.button_noborderdisabled{
    border: none;
    box-shadow: none;
    color: var(--secbody-color);
    text-shadow: 1px 1px 0px white;
}
.button_noborderdisabled:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.desktop_button:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.input{
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;

    margin: 4px;

    width: 16px;
    height: 16px;
    margin-bottom: 10px;

    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    box-shadow: -1px -1px var(--terbody-color) inset;
}

.input input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.Checkmark{
    position: absolute;
    margin: 0;
    font-size: calc(14px - var(--fontsize));
    top: 0px;
    left: 0px;
    height: 14px;
    width: 14px;
    filter: brightness(1.75);
    text-shadow: 1px 1px 0px white;
}

.input input:checked ~ .Checkmark{
    color: black;
    display: block;
    filter: brightness(0);
}



/*
    C O N T E X T   M E N U
*/
#contextmenu{
    position:absolute;
    z-index: 999999999999999;
    padding: 2px;

    margin: 0;
    font-size: calc(14px - var(--fontsize));

    color: black;
    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;    
    box-shadow: -1px -1px var(--terbody-color) inset;

    width: auto;
    max-width: 200px;
}

#contextmenu > button{
    width: 100%;

    border: none;
    
    padding-top: 4px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0;
    font-size: calc(14px - var(--fontsize));
    white-space: nowrap;
    background-color: transparent;

    text-align: left;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#contextmenu > button > img{
    width: 32px;

    image-rendering: pixelated;
    vertical-align: middle;
}

#contextmenu > button:hover{
    color: white;
    background: var(--selection-color);

    text-shadow: none;
}

#contextmenu > button:hover > img{
    filter: invert();
}

#contextmenu > hr {
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);
    border-style: solid;
}

.disabled{
    color: var(--secbody-color);
    text-shadow: 1px 1px 0px white;
}



/* 
    T A S K B A R 
*/

.Taskbar{
    width: 100%;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    padding: 3px 3px 4px 3px;

    background-color: var(--body-color);

    border-color: white none none none;
    border-style: solid;
    border-width: 2px 0px 0px 0px;

    z-index: 9999999999999;
}

.Taskbar div{
    display: flex;
}

.Taskbar hr{
    padding: 0px;
    margin: 0px 3px 0px 3px;

    width: 0px;

    height: 24.5px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);
}

.taskbar-button{
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0px 4px 0px 4px;
    margin: 0px;
    gap: 2px;

    background-color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    box-shadow: -1px -1px var(--terbody-color) inset;
}

.taskbar-button:active{
    background-color: var(--secbody-color);
    border-color: black white white black;
}

.taskbar-button p {
    text-align: center;
    vertical-align: middle;

    margin: 0;
    font-size: calc(14px - var(--fontsize));

    line-height: 0px;
}

.taskbar-button img{
    width: 20px;
    height: 20px;
}

/*
    T A S K B A R  -  S T A R T   B U T T O N
*/

.StartButton{
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0px 4px 0px 4px;
    margin: 0px;
    gap: 2px;

    background-color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    box-shadow: -1px -1px var(--terbody-color) inset;
}

.StartButton:active{
    background-color: var(--secbody-color);
    border-color: black white white black;
}

.StartButton img{
    width: 20px;
    height: 20px;
}

.StartButton p {
    text-align: center;
    vertical-align: middle;

    font-weight: 700;
    margin: 0;
    font-size: calc(14px - var(--fontsize));

    line-height: 0px;
}

/* 
    T A S K B A R  -  S O C I A L
*/

.Social{
    display: flex;
    right: 0;

    justify-content: center;
    align-items: center;
    vertical-align: middle;

    background-color: transparent;
}

.Social button{
    background-color: transparent;
    border: transparent;
}

.Social button:hover{
    background: var(--selection-color);
}

.Social button:active img{
    filter: invert();
}

.Social button img{
    padding: 0;
    margin: 0;

    width: 24px;
    height: 23px;
}



/* 
    T A S K B A R  -  W I D G E T S 
*/

.Widgets{
    display: flex;
    flex-direction: row;
    right: 0;

    justify-content: center;
    align-items: center;
    vertical-align: middle;

    background-color: var(--body-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);

    padding: 0px 5px 0px 0px;
}

.Widgets button{
    background-color: transparent;
    border-style: none;
}

.Widgets button img{
    padding: 0px;
    margin: 0px;

    width: 20px;
    height: 20px;
}

.Widgets p {
    margin: 0;
    font-size: calc(14px - var(--fontsize));
    line-height: 0px;
    color: black;
}

#Apps{
    width: 100%;
    display: flex;

    flex-direction: row;
}
.Apps button{
    margin-right: 3px;
}
/*.Apps button{
    background-image: radial-gradient(var(--body-color) 1px, white 1px);
    background-size: 3px 3px;
}
    APPS SELECIONADAS */



/* 
    N O T I F I C A T I O N S 
*/
.Notification{
    display: flex;
    flex-direction: column;

    position: absolute;
    z-index: 9999;

    padding: 12px;

    color: black;
    background-image: radial-gradient(var(--notes-color) 1px, white 1px);
    background-size: 4px 4px;

    font-size: calc(14px - var(--fontsize));

    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 15px;
}

.Notification button{
    position: absolute;

    margin: 0;
    padding: 0;
    
    width: 22px;
    height: 20px;

    right: 10px;
    background-color: transparent;

    border-style: solid;
    border-width: 2px;
    border-color: var(--secbody-color);
}

.Notification button:active{
    background-color: #d4d6b2;
}

.Notification div{
    display: flex;
}

.Notification img{
    width: 20px;
    height: 20px;

    padding: 0px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.Notification h4{
    margin: 0;
    padding: 0;

    vertical-align: middle;
    padding-top: 4px;
}

.Notification p{
    margin: 0;
}

.Notification button img{
    width: 12px;
    height: 30px;
    position: absolute;
    top: -7px;
    right: -5px;

}

/* 
    W I N D O W S 
*/

.Window{
    position:absolute;
    z-index: 1;

    font-size: calc(14px - var(--fontsize));
    padding: 2px;

    color: black;
    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    box-shadow: -1px -1px var(--terbody-color) inset;
 
}

/* 
    P R E V I E W   W T O P  -  B A R 
*/

.preview{
    background: var(--bakground-color);

    width: 100%;
    height: 200px;

    border-style: solid;
    border-width: 2px;
    border-color: black white white black;
    margin-bottom: 10px;
    box-shadow: -2px -2px var(--body-color) inset;
    z-index: 1;
}

.preview-Window{

    font-size: calc(14px - var(--fontsize));
    padding: 2px;

    color: black;
    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}
.Preview-WTop-Bar{
    user-select: none;
    display: flex;
    flex-direction: row;


    justify-content: space-between;
    height: 24px;

    align-items: center;
    padding: 0px 2px 0px 2px;
    margin-bottom: 2px;

    background: var(--terbody-color);
    color: var(--body-color);

    line-height: 0;
}
.Preview-WTop-Bar div{
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: nowrap;
    padding-left: 2px;
}

.Preview-WTop-Bar div p{
    left: 6px;
    top: 2px;
    text-align: left;
}

.Preview-WTop-Bar div img{
    transform: translateX(-1px)translateY(3px);

    width: 20px;
    height: 20px;
}

.Preview-WTop-Bar div button img{
    left: auto;
    top: auto;
}

.Preview-WTop-Bar div button{
    height: 20px;
    width: 20px;

    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
    
    line-height: 0px;
}

.Preview-WTop-Bar div button:active{
    background-color: var(--secbody-color);

    border-style: solid;
    border-width: 2px;
    border-color: black white white black;
    
    line-height: 0px;
}

.Preview-WTop-Bar div button img{
    position: absolute;
    padding: 0px;
    margin: 0px;

    line-height: 0px;

    transform: translate(-50%, -50%);
    width: 11px;

    -webkit-user-drag:none;
}

/*
    W I N D O W  -  T O P   B A R
*/
.WTop-Bar{
    user-select: none;
    display: flex;
    flex-direction: row;


    justify-content: space-between;
    height: 24px;

    align-items: center;
    padding: 0px 2px 0px 2px;
    margin-bottom: 2px;

    background: var(--terbody-color);
    color: var(--body-color);

    line-height: 0;
}

.WTop-Bar div{
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: nowrap;
    padding-left: 2px;
}

.WTop-Bar div p{
    left: 6px;
    top: 2px;
    text-align: left;
}

.WTop-Bar div img{
    transform: translateX(-1px)translateY(3px);

    width: 20px;
    height: 20px;
}

.WTop-Bar div button img{
    left: auto;
    top: auto;
}

.WTop-Bar div button{
    height: 20px;
    width: 20px;

    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;

    
    line-height: 0px;

    box-shadow: -1px -1px var(--terbody-color) inset;
}

.WTop-Bar div button:active{
    outline: none;
    border-style: solid;
    border-width: 2px;
    border-color: black white white black;
    box-shadow: 1px 1px var(--terbody-color) inset;
    
    line-height: 0px;
}
.WTop-Bar div button:focus{
    outline: none;
}
.WTop-Bar div button:active img{
    transform: translate(calc(-50% + 1px), calc(-50% + 1px));
}

.WTop-Bar div button img{
    position: absolute;
    padding: 0px;
    margin: 0px;

    line-height: 0px;

    transform: translate(calc(-50%), calc(-50%));
    width: 11px;

    -webkit-user-drag:none;
    pointer-events: none;
}

.WTop-Bar-detectable{
    display: flex;
}

.WContent{
    margin: 0px;
    padding: 0;

    margin-top: 15px;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 27px);
}

.WNotes{
    display: flex;
    gap: 30px;
    padding: 30px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color) white  white var(--terbody-color);

    inset: 0;
    background-image: radial-gradient(var(--notes-color) 1px, white 1px);
    background-size: 4px 4px;
}

.Wsided-left{
    display: flex;

}

.Wbottom-expand{
    font-family: Marlet;
    font-size: 18px;

    margin: 0;
    padding: 0;
    position: absolute;
    right: 4px;
    bottom: 4px;

    color: var(--terbody-color);
    text-shadow: white -1px -1px;
}



/* 
    M A I N   M E N U
*/

#minmenu{
    position:absolute;
    z-index: 999999999999999;
    padding: 2px;

    margin: 0;
    font-size: calc(14px - var(--fontsize));

    color: black;
    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;    

    width: auto;
    max-width: 200px;
    width: 200px;
}

#minmenu img{

    display: block;    
}

#minmenu div button{
    border: none;
    background-color: transparent;
    text-align: start;

    height: 40.45px;

    display: flex;
        gap: 4px;
        vertical-align: middle;

    align-items: center;
}

#minmenu div button img{
    display: flex;

    position: relative;
    height: 30px;
    vertical-align: middle;
}

#minmenu div button:hover{
    background: var(--selection-color);
    color: white;
}

#minmenu div hr{
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);
    border-style: solid;

    width: 95%;
}

#minmenu div button:hover .arrow{
    filter: invert();
}

#secmenu{
    position:absolute;
    z-index: 999999999999999;
    padding: 2px;

    margin: 0;
    font-size: calc(14px - var(--fontsize));

    color: black;
    background-color: var(--body-color);

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;    

    width: auto;
    max-width: 200px;
    width: 200px;
}

#secmenu button{
    border: none;
    background-color: transparent;
    text-align: start;

    height: 25px;

    display: flex;
    gap: 4px;
    vertical-align: middle;

    align-items: center;
    width: 100%;
}

#secmenu button:hover{
    background: var(--selection-color);
    color: white;
}

#secmenu button:hover .arrow{
    filter: invert();
}

#secmenu button img{
    max-height: 20px;

}

.arrow{
    width: 20px;
    position: absolute;
    right: 0;
}