@font-face {
    font-family: CMD;
    src: url("./Fonts/CMD.otf");
    font-smooth: none;
    image-rendering: pixelated;
}

.disabled{
    color: var(--secbody-color);
}
.disabled:hover{
    text-shadow: none;
    color: white;
}

/* NOTEPAD */

.underline{
    text-decoration: underline;
}
hr{
    margin: 2px;
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);
    border-style: solid;
}

.notepad{
    padding-right: 6px;
    padding-left: 2px;
    
    width: 100%;
    height: calc(100% - 53px);

    overflow-y: auto;
    overflow-x: hidden;

    background-color: white;
    border-style: solid;
    border-color: black white white black;
    border-width: 2px;

    box-sizing:border-box;
}

.notepad button{
    border: none;
    background-color: transparent;

    box-shadow: none;
}

.notepad button:hover{
    color: white;
    background: var(--selection-color);
}
.notepad textarea{
    width: 100%;
    height: 100%;

    resize: none;

    border: none;
    box-shadow: none;
    padding: 0;
    padding-left: 8px;
}
.notepad textarea:focus{
    border: none;
    box-shadow: none;
    outline: none;
}
/* Welcome */

.title-1{
    font-family:TimesNew95;
    font-size: 55px;
    font-weight: 600;
}
.title-2{
    font-family:TimesNew95;
    font-size: 55px;
    color: white;
}

/* CMD */

.Command-prompt{
    font-family: CMD;
    padding: 10px;

    height: calc(100% - 26px);
    box-sizing: border-box;

    background-color: black;
    display: block;

    gap: 0;
    margin: 0;

    overflow-y:auto;
    overflow-x:auto;
    font-weight:lighter;
}
.Command-prompt p {
    font-family: CMD;
    color: white;
    line-height: 1;

    word-break:normal;
    height: auto;
    margin: 0;
    font-weight:lighter;
}
.Command-prompt span{
    font-family: CMD;
    color: white;
    word-spacing: -2px;
    margin: 0;
    font-weight:lighter;
}
.Command-prompt input{
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: white;

    box-sizing: border-box;
    width: 70%;
    padding: 0;
    margin: 0;
    font-family: CMD;
    font-weight:lighter;
}
.Command-prompt input:focus{
    outline: none;
}

/* WEB HELP */
.webhelp{
    width: 100%;
    height: calc(100% - 26px);

    box-sizing: border-box;

    background-color: var(--notes-color);

    border-color: black white white black;
    border-style: solid;
    border-width: 2px;

    padding: 24px;
}
.webhelp h4{
    margin: 0;
}

/* Papelera */
.papelera{
    padding-left: 2px;
}

.papelera button{
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.papelera button:hover{
    color: white;
    background: var(--selection-color);
}

.papelerainfo{
    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);

    width: 100%;

    padding-top: 2px;
    padding-left: 2px;
}

.archivos-papelera-tabla{
    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);

    margin: 0;
    padding: 0;
    gap: 0;

    border-collapse: collapse;
}

.archivos-papelera{
    display: flex;
    flex-direction: column;
    
    width: calc(100% - 4px);
    height: 165px;

    border: none;
    box-shadow: none;

    border-style: solid;
    border-width: 2px;
    border-color: black white white black;

    overflow-x: auto;
    overflow-y: auto;

    background-color: white;
}
.archivos-papelera-tipos{
    top: 1;

    height: 22px;
}
.archivos-papelera-tipos td{
    margin: 0;
    padding: 2px;

    min-width: 200px;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}

.archivos-papelera-archivos{
    padding: 0;
    margin: 2px;

    border: none;
    box-shadow: none;

    background-color: white;
}

/*Display Properties*/

.display{
    display: flex;
    flex-direction: row;

    background-color: transparent;

    transform: translate(6px, 6px);
}
.display-button{
    background-color: transparent;
    padding: 2px;

    border-style: solid;
    border-width: 2px;
    border-color: white black transparent white;

    border-radius: 4px;
}
.display-button-selected{
    background-color: transparent;
    padding: 2px;

    border-style: solid;
    border-width: 2px;
    border-color: white black var(--body-color) white;

    border-radius: 4px;
}
.I-2{
    display: flex;
    flex-direction: row;
}
.display-properties{
    display: flex;
    flex-direction: column;
    
    margin: 4px;
    padding: 8px;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;
}
.display-properties-box{
    padding: 8px;
    margin-top: 4px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--terbody-color);
    box-shadow: 1px 1px white inset, 1px 1px white;

    width: 100%;

}
.display-properties-title{
    position: absolute;
    
    padding-left: 4px;
    padding-right: 4px;

    background-color: var(--body-color);

    font-weight: 200;

    transform: translate(0px, -35px);
}
.display-properties-select{
    padding: 2px;

    border-style: solid;
    border-width: 1px;
    border-color: var(--terbody-color);

    box-shadow: inset 1px 1px black, inset -1px -1px var(--body-color);
}
.display-right{
    display: flex;

    justify-content: end;
    text-align: end;
}
.display-right-button{
    margin: 4px;
    padding: 2px;

    background-color: transparent;

    border-style: solid;
    border-width: 2px;
    border-color: white black black white;

    width: 80px;
}

/* EXPLORER */

.explorer_topbar{
    margin: 0;
    padding: 2px;
}
.explorer_topbar button{
    padding: 4px;


    background-color: transparent;
    border: none;
    box-shadow: none;
}
.explorer_topbar button p{
    margin: 0;
    margin-top: 6px;
}
.explorer_topbar button:hover{
    background: var(--selection-color);
}
.explorer_files_topbar{
    display: flex;
    flex-direction: row;

    margin-left: 2px;
}

.explorer_files_topbar select{
    width: calc(62%);
    background-color: white;

    border-color: black white white black;
    border-style: solid;
    border-width: 2px;

    box-shadow: inset -2px -2px var(--body-color);
}
.explorer_files_topbar button{
    margin: 0;
    padding: 0;

    width: 28px;
    height: 28px;
}
.explorer_files_topbar button img{
    padding: 0px;
    margin: 0px;

    width: 24px;
    height: 24px;
    
    position: absolute;
    transform: translate(-10px, -14px);
}

.explorer_files{
    margin: 2px;
    padding: 4px;
    box-sizing: border-box;

    width: calc(100% - 4px);
    height: calc(100% - 116px);

    background-color: white;

    border-color: black white white black;
    border-style: solid;
    border-width: 2px;

    box-shadow: inset -2px -2px var(--body-color);

    display: flex;
    flex-direction: row;

}
.explorer_files button{
    width: 100px;
    height: 70px;

    padding: 0;
    margin: 0;

    border: none;
    box-shadow: none;
    background-color: transparent;
}
.explorer_files button img{
    width: 44px;
    height: 44px;
}
.explorer_files button:hover img{
    background: var(--selection-color);
}

.explorer_files button p{
    margin: 0;
    padding: 2px;
}
.explorer_files button:hover p{
    color: white;
    background: var(--selection-color);
}

.explorer_bottombar{

    display: flex;
    flex-direction: row;

    gap: 2px;

    margin: 0;
    padding: 2px;

    box-sizing: border-box;

    position: absolute;
    bottom: 0;
    width: calc(100% - 4px);
}
.explorer_bottombar p{
    border-style: solid;
    border-width: 2px;
    border-color: var(--terbody-color) white white var(--terbody-color);

    width: 100%;

    padding-top: 2px;
    padding-left: 2px;

    margin: 0;

    user-select: none;
}

.whatnewnew{
    box-sizing: border-box;
    overflow-y: auto;

    height: calc(100% - 130px);
}